<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          android:installLocation="internalOnly">
    <uses-feature android:name="android.hardware.touchscreen"
                  android:required="false"/>
    <application android:allowBackup="false"
                 android:label="v2ray"
                 android:icon="@mipmap/ic_launcher">
        <provider android:name=".BinaryProvider"
                  android:exported="true"
                  android:directBootAware="true"
                  android:authorities="com.github.shadowsocks.plugin.v2ray.BinaryProvider"
                  tools:ignore="ExportedContentProvider">
            <intent-filter>
                <action android:name="com.github.shadowsocks.plugin.ACTION_NATIVE_PLUGIN"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.github.shadowsocks.plugin.ACTION_NATIVE_PLUGIN"/>
                <data android:scheme="plugin"
                      android:host="com.github.shadowsocks"
                      android:path="/v2ray"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.github.shadowsocks.plugin.ACTION_NATIVE_PLUGIN"/>
                <data android:scheme="plugin"
                      android:host="com.github.shadowsocks"
                      android:path="/v2ray-plugin"/>
            </intent-filter>
            <meta-data android:name="com.github.shadowsocks.plugin.id"
                       android:value="v2ray-plugin"/>
            <meta-data android:name="com.github.shadowsocks.plugin.id.aliases"
                       android:value="v2ray"/>
            <meta-data android:name="com.github.shadowsocks.plugin.executable_path"
                       android:value="libv2ray.so"/>
        </provider>
        <activity android:name=".ConfigActivity"
                  android:exported="true"
                  android:theme="@style/Theme.Shadowsocks.Immersive">
            <intent-filter>
                <action android:name="com.github.shadowsocks.plugin.ACTION_CONFIGURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="plugin"
                      android:host="com.github.shadowsocks"
                      android:path="/v2ray-plugin"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
